@font-face {
	font-family: Azbuka04;
	font-display: swap;
	src: url("../fonts/Azbuka04-Regular.woff2") format("woff2"), url("../fonts/Azbuka04-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Azbuka06;
	font-display: swap;
	src: url("../fonts/Azbuka06-Regular.woff2") format("woff2"), url("../fonts/Azbuka06-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
