//===================================================================
.video {
  &__media {
    width: 100%;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%);

    img {
      @include adaptiveValue("max-width", 1000, 305);
      @include adaptiveValue("max-height", 105, 32);
    }
  }
}
//===================================================================
.slogan-main {
  position: relative;
  @include adaptiveValue("margin-top", 100, 80);
  @include adaptiveValue("padding-bottom", 180, 80);

  @media (min-width: $mobile) {
    &::before {
      content: "";
      background-image: url(../img/main-phone/1.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: rem(-550);
      left: rem(-250);
      width: rem(918);
      z-index: -1;
      height: rem(2573);

      @media (max-width: $tablet) {
        left: rem(-450);
      }
    }

    &::after {
      content: "";
      background-image: url(../img/main-phone/2.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: rem(-550);
      right: rem(-250);
      width: rem(918);
      z-index: -1;
      height: rem(2573);
      @media (max-width: $tablet) {
        right: rem(-500);
      }
    }
  }

  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 35, 25);
  }

  &__text {
    max-width: rem(745);
    margin: 0 auto;
    p {
      text-align: center;
      font-family: "Comfortaa";
      @include adaptiveValue("font-size", 20, 14);
      line-height: 120%;
      color: #000000;

      @media (max-width: $mobile) {
        line-height: 170%;
        text-align: start;
      }
    }
  }
}
//===================================================================
.services-main {
  @include adaptiveValue("padding-bottom", 180, 80);
  &__container {
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(18);

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__cart {
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        span {
          @include adaptiveValue("font-size", 25, 15);
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.055);
        }
      }
    }

    span {
      position: absolute;
      @include adaptiveValue("bottom", 30, 10);
      left: rem(35);
      right: rem(15);
      font-family: "Comfortaa";
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 12);
      line-height: math.div(32, 24);
      text-transform: uppercase;
      transition: all 0.3s ease-out 0s;
      color: #ffffff;

      @media (max-width: $mobileSmall) {
        left: rem(10);
        right: auto;
        line-height: 108%;
        right: rem(10);
      }
    }

    &.detailed {
      background: #2e4027;
      transition: all 0.3s ease 0s;
      span {
        text-transform: none;
        left: 50%;
        top: 50%;
        right: auto;
        transform: translate(-50%);
      }

      @media (any-hover: hover) {
        &:hover {
          span {
            @include adaptiveValue("font-size", 24, 12);
          }
        }
      }

      &:hover,
      &:active {
        background: #e9e4dc;
        span {
          color: #000000;
        }
      }
    }
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 25);
    h2 {
      text-align: center;
    }
  }
}

.services {
  &__image-ibg {
    padding-bottom: percent(558, 396);

    img {
      transition: all 0.3s ease-out 0s;
    }
  }
}
//===================================================================

.specialists-our {
  @include adaptiveValue("padding-bottom", 180, 80);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 25);
    h1 {
      text-align: center;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      gap: rem(40);
    }
  }

  &__people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
    @media (max-width: $tablet) {
      order: 1;
    }
  }

  &__info {
  }

  &__btn-mobile {
    display: none;
    order: 1;
    margin: 0 auto;
    margin-top: rem(40);

    @media (max-width: $tablet) {
      display: block;
    }
  }

  &__btn {
    display: table;
    margin: 0 auto;
  }
}

.people-specialists {
  &__cart {
    span {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: rem(13) rem(18);
      background-color: #b17e62;
      @include adaptiveValue("font-size", 20, 16);
      line-height: math.div(32, 20);
      width: 100%;
      white-space: nowrap;
      @include adaptiveValue("max-width", 412, 234);
      text-transform: uppercase;
      color: #ffffff;
      @media (max-width: $tablet) {
        padding: rem(13) rem(7);
        line-height: math.div(18, 16);
        bottom: rem(-40);
        text-transform: inherit;
      }
    }

    span br {
      display: none;

      @media (max-width: $mobileSmall) {
        display: inline;
      }
    }
  }

  &__image-ibg {
    padding-bottom: percent(446, 292);

    @media (max-width: $tablet) {
      padding-bottom: 108%;
    }

    @media (max-width: $mobileSmall) {
      padding-bottom: percent(446, 292);
    }
  }

  &__content {
    position: relative;

    img {
      @include adaptiveValue("max-height", 555, 312);
      @include adaptiveValue("max-width", 412, 234);
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    margin-top: rem(15);
    @include adaptiveValue("margin-bottom", 100, 70);
    p {
      color: #1d1e1c;
      line-height: 150%;
      @include adaptiveValue("font-size", 16, 14);
    }

    @media (max-width: $tablet) {
      margin-top: rem(55);
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: rem(40);
    }
  }
}

.info-specialists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(10);
  &__text {
    p {
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(24, 18);
      color: #000000;
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: end;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}
//===================================================================
.slider-main {
  &__slider {
    position: relative;
  }

  &__swiper {
  }

  &__slide {
    position: relative;
  }

  &__body {
    position: absolute;
    top: 25%;
    left: 6%;

    @media (min-width: $mobile) {
      // @include adaptiveValue("top", 400, 180, 1920, 992);
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      min-width: rem(1000);
    }

    @media (max-width: $mobile) {
      left: rem(45);
      right: rem(45);
      top: 40%;
    }
  }

  &__title {
    @media (min-width: $tablet) {
      white-space: nowrap;
    }
    @include adaptiveValue("margin-bottom", 35, 25);
    h2 {
      text-align: center;
      color: #fff;
      @include adaptiveValue("font-size", 48, 24);

      @media (max-width: $mobileSmall) {
        span {
          white-space: pre;
        }
      }
    }
  }

  &__text {
    @include adaptiveValue("max-width", 830, 300);
    @include adaptiveValue("margin-bottom", 70, 25);
    margin: 0 auto;
    p {
      @include adaptiveValue("font-size", 20, 14);
      line-height: math.div(24, 20);
      text-align: center;
      color: #ffffff;
    }
  }

  &__btn {
    display: table;
    margin: 0 auto;
  }

  &__dotts {
    position: absolute;
    bottom: rem(50);
    left: 50%;
    transform: translateX(-50%);
    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(15);
    .swiper-pagination-bullet {
      cursor: pointer;
      width: rem(14);
      height: rem(14);
      border-radius: 50%;
      border: 1px solid #fff;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
    @media (max-width: $mobile) {
      bottom: rem(20);
    }
  }
}

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, rem(58));
  column-gap: 8px;
  position: absolute;
  width: calc(100% - rem(58));
  left: rem(29);
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 5;
  justify-content: space-between;

  @media (max-width: $mobile) {
    display: none;
  }
}

.slider-arrow {
  height: rem(58);
  width: rem(58);
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  &::before {
    font-size: rem(23);
  }

  @media (any-hover: hover) {
    &:hover {
      background: #2e4027;
      &::before {
        color: #fff;
      }
    }
  }

  &_prev {
    transform: rotate(-180deg);
    padding-left: rem(5);
  }

  &_next {
    padding-left: rem(3);
  }
}

//===================================================================

.slider-main__image-ibg {
  padding-bottom: percent(698, 1440);

  img {
    object-position: 35%;
  }

  @media (max-width: $mobile) {
    max-height: rem(480);
  }

  @media (max-width: $tablet) {
    min-height: rem(480);
  }
}
